.c-image {
    &__logo {
        width: 170px;
    }

    &__caption {
        padding: 0 25px;
        color: $color1;
        font-weight: lighter;
        font-size: 30px;
    }
}


@media only screen and (max-width: $media-md) {
    .c-image {
        &__logo {
            width: 80px;
        }
    }
}
@media only screen and (max-width: $media-sm) {
    .c-image {
        &__logo {
            width: 170px;
        }
    }
}