$font-open-sans:  'Opens Sans';

$font-size-large:   19px;
$font-size-base:    16px;
$font-size-medium:  14px;
$font-size-small:   12px;
$font-size-tiny:    12px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold: 700;