.c-nav {
    padding: 20px 0 10px 0;

    &__item {
        margin: 5px;

    }

    &__list {
        list-style-type: none;

    }

    &__link {
        text-decoration: none;
        padding: 15px;
        background-color: $color6;
        border: 1px solid $color1;
        &:hover{
            background-color: $color1;
            color: $color4;
        }
    }
}
