.c-nav{
    padding: 20px 0 10px 0;
    &__item{
        
    }
    &__list{
        list-style-type: none;
       
    }
    &__link{
        text-decoration: none;
        padding: 20px 20px 10px 20px;
        
    }
}
.c-nav__link:hover{
        border-bottom: 5px solid $color1;
}