.c-header {
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $color1;


    &--sticky {
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: $color6;

    }

    &__item {}

}