.c-image {
    &__logo {
        width: 150px;
    }

    &__caption {
        padding: 0 25px;
        color: $color1;
        font-weight: lighter;
        font-size: 40px;
    }
}


@media only screen and (max-width: $media-md) {
    .c-image {
        &__logo {
            width: 70px;
        }
        &__caption {
            font-size: 20px;
        }
    }
}
@media only screen and (max-width: $media-sm) {
    .c-image {
        &__logo {
            width: 130px;
        }
        &__caption {
            font-size: 30px;
        }
    }
}