.o-cookie-info {

    background-color: $color1;
    width: 100%;
    padding: 20px;
    color: $color6;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

button.o-cookie-hide {
    padding: 10px;
    font-size: 14px;
    margin: 0 10px;
    background-color: $color5;
}

.o-cookie-info--hidden {
    display: none;
}