.stage_wrapper{
    position: relative;
    width: 100%;
}

#c-panel_top {
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
 
}

#c-reset {
    @include panelFieldsAll;
    background-color: $color1;
    color: $color6;
    margin-top: 10px;
    justify-content: center;
    border: $color9 1px solid;
    font-family:'Lato', sans-serif;
   
    &:hover {
         cursor: pointer;
         border: $color10 2px solid;
    }

}

#g-lives{
    list-style: none;
}
.g-life{
    flex-grow: 1;
    flex-shrink: 1;
    width:1rem;
    height: 1rem;
    position: relative;
    background:url('../img/heart.png') no-repeat center;
    background-size: contain;
}

.c-box_lives {
    @include panelFieldsAll;
    @include fieldsScoreLives;
}

.c-box_score {
    @include panelFieldsAll;
    @include fieldsScoreLives;
    margin-top: 10px;
}

