.c-box {
  display: flex;
  margin: auto;

  &__features {
    list-style-type: none;
    color: $color2;
    font-weight: bold;
    flex-wrap: wrap;
    flex: 0 0 10%;
    padding: 1em;
  }

  &--features {
    font-size: 1em;
    list-style-type: none;
  }
  &__team {
    flex: 5 200px;
    display: flex;
    flex-flow: column;
    padding: 1em;
  }
  &__info{
    display: flex;
  }
}

.fas {
  font-size: 5em;
  color: $color4; //yellow
  margin: auto;
}

#team{
    display: flex;
    flex-direction: row;
  }
