.c-box-additional-container {
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 100%;
    justify-content: center;
    align-content: stretch;
}

.c-box-additional-features__line {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    padding: 2em;
    text-align: justify;
    align-items: center;
    font-size: 1.1em;

    & .c-feature-h4 {
        padding: 5px 0;
        font-size: 1.2em;
        justify-content: center;
    }
}

.c-feature-image {
    padding-right: 10px;
    object-fit: cover;
    display: inline-block;
    width: auto;
}


@media only screen and (max-width: 758px) {
    .c-box-additional-container {
        padding: 1em 0;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}