.c-box__newsletter {
    &--info {
        display: block;
        width: 68%;
        margin: 20px auto;
        padding: 20px 0 0 0;
        border-radius: 5px;
        font-size: 30px;
        font-weight: 700;
        color: $color2;

    }

    &--desc {
        color: $color6;
        font-size: 1.1em;
        margin: 40px;
        text-align: justify;
        
    }

    &--form {
        &>input {
            border: none;
            padding: 20px;
            margin: 0 5px;
            box-sizing: border-box;

            &:nth-child(1) {
                width: 60%;
            }

            &:focus {
                outline: none;
                outline-style: none;
                box-shadow: 0 0 2px 2px $color1;
            }
        }
    }

    &--button {
        outline: none;
        outline-style: none;
        background-color: $color1;
        border: none;
        color: $color6;

        &:focus {
            outline: none;
            outline-style: none;
            box-shadow: none;
        }
    }
}

.c-box-newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background-color: $color3;
}