.c-image {
    &__logo {
        max-width: 110px;
    }

    &__caption {
        padding: 0 25px;
        color: $color1;
        font-weight: lighter;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__team {
        width: 100%;
        border-radius: 50%;
        transform: scale(1);
        transition: 0.7s;
        margin: auto;
        
    }

    &__team:hover {
        width: 100%;
        transform: scale(0.5);
        transition: 0.7s;
        border: 12px solid $color2;


    }

}


@media only screen and (max-width: $media-md) {
    .c-image {
        &__logo {
            max-width: 80px;
        }

        &__caption {
            font-size: 20px;
        }

    }
}

@media only screen and (max-width: $media-sm) {
    .c-image {
        &__logo {
            max-width: 120px;
            display: none;
        }

        &__caption {
            font-size: 30px;
            display: none;
        }

        &__team {
            max-width: 200px;
        }
    }
}