section.c-box-newsletter{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background-color: $color3;
}

h2.c-box-newsletter--heading{
    margin: 1.2rem;
    color: $color2;
}

form.c-box-newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.c-box-newsletter{
    color: $color6;
    display: flex;
    justify-content: space-between;
    background-color: $color3;
}

p.c-box-newsletter{
    text-align: justify;
    margin: 1.2rem;
}

input{
    display: flex;
    margin: 5px;
    height: 2rem;
}