.c-box {
  margin: auto;

  &__features {
    list-style-type: none;
    color: $color2;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--feature {
    font-size: 1em;
    list-style-type: none;
    text-align: center;
    flex: 0 1 23%;
    padding: 2rem 0;
  }
  &__team {
    flex: 5 200px;
    display: flex;
    flex-flow: column;
    padding: 1em;
  }
  &__info{
    display: flex;
  }
}

.fas {
  font-size: 6em;
  color: $color4; //yellow
  margin: auto;
  width: 100%;
  margin-bottom: 2rem;
}

#team{
    display: flex;
    flex-direction: row;
  }

@media (max-width: $media-md){
  .c-box {
    &--feature {
      flex: 0 1 46%;
    }
  }
}

@media (max-width: $media-sm){
  .c-box {
    &--feature {
      flex: 0 1 100%;
    }
  }
}