
.o-wrapper{
    margin: auto;
    width: $media-xl;
    &--full{
        width: 100%;
    }
}

.o-flex{
    display: flex;
    align-items: center;
}


@media only screen and (max-width: $media-xl) {
    .o-wrapper{
        width: $media-md;
    }

    .o-flex{
        justify-content: center;

        &--small{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        }
        &__item{
            flex-basis: 100%;
        }
    }
}

@media only screen and (max-width: $media-md) {
    .o-wrapper{
        width: $media-sm;
    }
}

@media only screen and (max-width: $media-sm) {
    .o-wrapper{
        width: 100%;
    }
}