// .o-grid__main{
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-areas: 
//     "header" 
//     "main"
//     "footer"
// }
// .o-header{
//     grid-area: header;
// }
// .o-main{
//     grid-area: main;
// }

// .o-footer{
//     grid-area: footer;
// }

.o-wrapper {
    margin: auto;
    width: $media-xl;

    &--full {
        width: 100%;
    }
}

.o-flex {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: $media-xl) {
    .o-wrapper {
        width: $media-md;
    }


}

@media only screen and (max-width: $media-md) {
    .o-wrapper {
        width: $media-sm;
    }
}

@media only screen and (max-width: $media-sm) {
    .o-wrapper {
        width: 100%;
    }

    .o-flex {
        justify-content: center;

        &--small {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        &__item {
            flex-basis: 100%;
        }
    }

}