.o-grid__main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header" 
    "main"
    "footer"
}
.o-header{
    grid-area: header;
}
.o-main{
    grid-area: main;
}

.o-footer{
    grid-area: footer;
}