a {
    color: $color1;
}

.c-nav {
    &__link {
        font-size: 19px;
        &:hover{
            color: $color6;
        }
    }
}
@media only screen and (max-width: $media-sm) {
    .c-nav {
        &__link {
            font-size: 12px;
            
        }
    }
}

.c-section{
    &__heading{
        font-size:3em;
        font-weight: bolder;
        color: $color1;
    }
    &__newsletter{
        font-size:3em;
        color: $color6;
    }
}
