a {
    color: $color1;
}

.c-nav {
    &__link {
        font-size: 19px;
        &:hover{
            color: $color6;
        }
    }
}
@media only screen and (max-width: $media-sm) {
    .c-nav {
        &__link {
            font-size: 12px;
            
        }
    }
}
